$background-color: #E06666;
$header-font-color: rgba(255,248,248,0.72);
$main-font: 'Nunito', sans-serif;

html,
body {
  height: 100%;
}

body {
  margin: 0 0;
}


.landing {
  background: $background-color;
  // height: 600px;
  height: 100%;
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: $header-font-color;
  // position: absolute;
  // top: 40%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
}

.search {
  // this should reduce to around 43px after animation
  font-size: 64px;
  height: 40px;
  cursor: pointer;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.starter-tip {
  font-family: $main-font;
  // font-size: 12px;
  // bigger font for vissually impaired
  font-size: 21px;
}

.search, .starter-tip, .random-article{
  color: $header-font-color;
}

.random-article {
  font-size: 64px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.no-show {
  visibility: hidden;
}

.remove {
  display: none;
}


form input{
  background: $background-color;
  color: $header-font-color;
  font-family: $main-font;
  transition: display 2s;
}

form input:focus {
  outline-width: 0;
}

.random {
  transition: transform .8s ease-in-out;
}

.random:hover {
  transform: rotate(360deg);
}

.search-bar-initial {
  width: 100%;
  position: absolute;
  right: -40px;
  top: 25%;
  width: 0;
  height: 0;
  // 2 pixel border requires 3.5s animation 1 px requires 2s
  transition: height 2s ease-in-out 2s, width 2s ease-in-out 2s, border .5s ease-in-out 2s, padding 2s ease-in-out 2.5s;
  border: none;
  padding: 0;
}

.search-bar-after {
  border: 1px solid $header-font-color;
  border-radius: 20px;
  height: 30px;
  width: 190px;
  padding: 10px;
  top: 5;
  // margin-right: -5px;
  margin-right: -12px;
}

.search-initial {
  transition: all 2s ease-in-out;
}

.search-after {
  font-size: 42px;
  transform: translate(100px);
}

ul.list-of-articles {
  // height: 100%;
  list-style-type: none;
  margin: 0 auto;
  height: 100%;
  width: 50%;
  overflow: auto;
  h1 {
    font-size: 25px;
    text-align: left;
  }
}
